<div class="w3-container">
  <div class="w3-bar w3-light-grey">
    <a href="#" class="w3-bar-item w3-button">Recipe Book</a>
    <a href="#" class="w3-bar-item w3-button" (click)="onSelect('recipe')">Recipe</a>
    <a href="#" class="w3-bar-item w3-button" (click)="onSelect('shopping-list')">Shopping List</a>
    <div class="w3-dropdown-hover w3-right">
      <button class="w3-button">Manage</button>
      <div class="w3-dropdown-content w3-bar-block w3-border" style="right: 0">
        <a href="#" class="w3-bar-item w3-button">Save Data</a>
        <a href="#" class="w3-bar-item w3-button">Fetch Data</a>
      </div>
    </div>
  </div>
</div>

