<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}" fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <br>
    <router-outlet></router-outlet>
    <div class="container">
      <div class="row">
        <br>
      <button class="btn" (click)="goBack()">
        <span  class="glyphicon glyphicon-arrow-left"></span>
        Go Back to Home Page</button>
      <button class="btn" (click)="reloadPage()">
        Reload Server
        <span  class="glyphicon glyphicon-repeat"></span>
      </button>
      <button class="btn" (click)="goToUsers()">
        Go to Users
        <span  class="glyphicon glyphicon-arrow-right"></span>
      </button>
    </div>
    </div>
  </div>
</div>


