<div class="container">
<div class="panel panel-default">
    <div class="row">
      <div class="col-xs-12">
      <div class="pull-right" *ngIf="element.type === 'server'">
        <button type="button" class="btn btn-default btn-sm" (click)="onRemove.emit(element);">
          <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
      </div>
      </div>
    </div>
  <div class="panel-heading">{{element.name}}</div>
    <div class="panel-body">
      <p>
        <strong *ngIf="element.type === 'server'" style="color: red">{{element.content}}</strong>
        <em *ngIf="element.type === 'blueprint'">{{element.content}}</em>
      </p>
    </div>
  </div>
</div>

