<div class="w3-container">
  <ul class="w3-ul w3-card-4">
    <li class="w3-bar"  (click)="onItemSelect()">
      <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
      <img [src]="recipeItem.imagePath" class="w3-bar-item w3-round w3-large">
      <div class="w3-bar-item">
        <span class="w3-large" [innerHtml]="recipeItem.name"></span>
        <br>
        <span [innerHtml]="recipeItem.description"></span>
      </div>
    </li>
  </ul>
</div>
